body{
    background-color: #3F9984;
    padding: 0;
    margin: 0;
}
#app{
    display: flex;
    height: 100%;
    width: 100%;
}

#menu_parameter{
    height:100vh;
    width:300px;
    background-color: white;
    box-shadow: 0 0 8px #204f45;
}

#menu_header{
    display: flex;
    flex-flow: row;
}

h1{
    display: inline-block;
    width: 100%;
    line-height:68px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: Roboto-Medium, Helvetica;
    color: #313131
}

#logo{
    width: 80px;
    height: 80px;
    margin: 10px;
}

#principal{ 
    height:100vh;
    width:calc(100vw - 300px);
    overflow: scroll;
}

#mesure_form{
    display: flex;
    justify-content:center;
    height: 60px;
    width:auto;
    margin-top:20px;
}

.input_label{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding-top:30px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-family: Roboto, Helvetica;
    font-size: 21px;
}

input.input_length{
    -webkit-appearance: none;
    border: solid 1px white;
    font: 500 21px Helvetica;
    text-align: center;
    width: 200px;
    color: white;
    background-color: #3F9984;
}

#solutions{
    width:100%;
    display:flex;
    flex-flow:wrap;
    justify-content: center;
    margin-top:30px;
}

.container{
    display: flex;
    background-color: #FFEB3B;
    margin:20px;
    padding: 0px;
}

div.elt{
    display: inline-block;
    height:85px;
    border: solid 1px #009688;
    background-color: white;
    text-align: center;
    line-height: 85px;
    color: #009688;
}